{{!-- render todo-list here --}}
<ul>
  {{#each todoItems}}
  <li>
    {{this.name}}
    <a href="./todos/{{ this._id }}">detail</a>
    <a href="./todos/{{ this._id }}/edit">edit</a>
    <a href="./todos/{{ this._id }}/delete">delete</a>
  </li>
  {{/each}}
</ul>